/* Estilo Global */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #333;
    color: #f5f5f5;
}

#container {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

#bio-container {
    text-align: center;
    margin-bottom: 20px;
}

#bio-image {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin-bottom: 20px;
}

.highlight {
    color: #54b689;
    font-weight: bold;
}

#social-container {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
}

#social-container li a {
    color: #54b689;
    font-size: 30px;
  }
  
#email-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    color: #54b689;
}

#email-container a {
    color: #f5f5f5;
    text-decoration: none;
    max-width: 225px;
  }

#social-container li a {
    color: #54b689;
    font-size: 30px;
  }
  

#about-container {
    text-align: center;
    margin: 20px auto;
    max-width: 800px;
}

.description {
    font-size: 1.2rem;
    line-height: 1.5;
    margin-bottom: 20px;
}

#btn-projects {
    display: inline-flex;
    align-items: center;
    background-color: #54b689;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 20px;
}

#btn-projects ion-icon {
    margin-right: 10px;
}

#skills-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 colunas no desktop */
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}

.skills-box {
    padding: 20px;
    background-color: #d1eee0;
    color: #333;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.skills-title {
    font-size: 1.2rem;
    margin-bottom: 15px;
    font-weight: bold;
}

.skills-box i {
    font-size: 2.5rem;
    margin: 5px;
    color: #54b689;
}

/* Responsividade para tablets médios (10-11 polegadas) */
@media (min-width: 768px) and (max-width: 1024px) {
    #skills-container {
        grid-template-columns: repeat(2, 1fr); /* 2 colunas para tablets médios */
        gap: 20px;
    }

    .skills-box {
        padding: 10px;
        margin: 0 auto;
        text-align: center;
        max-width: 100%;
    }

    .skills-title {
        font-size: 1.1rem;
        margin-bottom: 10px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 100%;
        display: block;
    }
}

/* Responsividade para tablets pequenos (iPad Mini e similares) */
@media (max-width: 767px) {
    #skills-container {
        grid-template-columns: repeat(1, 1fr); /* Layout de uma coluna como nos celulares */
        gap: 15px;
    }

    .skills-box {
        padding: 10px;
        text-align: center;
        margin: 0 auto;
        max-width: 100%;
    }

    .skills-title {
        font-size: 1rem; /* Ajuste o tamanho da fonte para caber melhor em telas pequenas */
        white-space: normal; /* Permite que o texto quebre em várias linhas, se necessário */
        overflow: visible; /* Não oculta o texto */
        text-overflow: clip; /* Desativa as reticências */
    }
}